@import url('https://fonts.cdnfonts.com/css/made-outer-sans-alt');

body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f3f3;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    padding: 10px 0;
}

.logo {
    font-family: 'MADE Outer Sans', sans-serif;
}
.link {
    font-weight: 700 !important;
}
.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0069d9;
}
.full-height{
    min-height: 100vh;
}
.img-cover{
    background-image: url('../img/imgForm.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.input{
    width: 100%;
    margin-bottom: 10px;
    outline: none;
}
.icons>.btn{
    width: 40px;
    height: 40px;
    color: #fff;
    padding: 0px;
    line-height: 0.8rem;
}
