.bg-info-subtle{
  background-color: rgba(255, 255, 255, 0.768) !important;
}
.bg-light{
  background-color: rgba(255, 255, 255, 0.5) !important;
}
.bg-warning{
  background-color: rgb(28, 28, 28) !important;
}
.bg-white-50 {
  /* 0.5 é referente a opacidade */
  background-color: rgba(202, 40, 40, 0.5) !important;
}
.bg-danger{
  background-color: #424343 !important;
}
.bg-secondary{
  background-color: rgba(105, 105, 105, 0.293) !important;
}
.input{
  outline: none;
  width: 100%;
}
@media (max-width: 767px) {
  /* Estilos para telas com largura máxima de 767px (SM) */
  table {
    width: 100%; /* Faz a tabela ocupar 100% da largura da tela */
  } */
  
  th, td {
    display: block; /* Transforma cada célula em um bloco */
    width: 100%; /* Faz cada célula ocupar 100% da largura */
  }
  
  tr {
    border-bottom: 1px solid #ddd; /* Adiciona uma borda inferior para separar as linhas */
  }
  
  th:before, td:before {
    content: attr(data-label); /* Exibe o rótulo da coluna antes do conteúdo da célula */
    font-weight: bold; /* Define o rótulo como negrito */
    display: block;
    padding-bottom: 5px;
  }
  @media (max-width: 500px) {
    /* Estilos para telas com largura máxima de 500px */
    table {
      width: 100%; /* Faz a tabela ocupar 100% da largura da tela */
    }
  
    th, td {
      display: block; /* Transforma cada célula em um bloco */
      width: 100%; /* Faz cada célula ocupar 100% da largura */
    }
  
    tr {
      border-bottom: 1px solid #ddd; /* Adiciona uma borda inferior para separar as linhas */
    }
  
    th:before, td:before {
      content: attr(data-label); /* Exibe o rótulo da coluna antes do conteúdo da célula */
      font-weight: bold; /* Define o rótulo como negrito */
      display: block;
      padding-bottom: 5px;
    }
  }
}